<!doctype html>
<html>
<head>
    <title>JeSuisCharlie</title>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <h1>#JESUISCHARLIE</h1>
    <nav>
        <a href="/">Photobooth</a>
        <a href="/gallery" class="active">Gallery</a>
    </nav>
    <div id="gallery">
        <div id="cards"></div>
        <button id="moreBtn" style="display: none">LOAD MORE...</button>
    </div>
    <footer>
        <div
                class="fb-like"
                data-share="true"
                data-width="450"
                data-show-faces="true">
        </div>
    </footer>
    <script src="/scripts/jsonxhr.js"></script>
    <script src="/scripts/gallery.js"></script>
    <script src="/scripts/ga.js"></script>
</body>
</html>
