
@import url("fonts.css");

body {
    background: #222222;
}

h1 {
    font-size: 5em;
    color: #cccccc;
    text-align: center;
    font-family: 'block_bertholdregular', sans-serif;
    margin: 0;
}

#box {
    width: 640px;
    padding: 20px;
    background: #222;
    margin: auto;
}

footer {
    width: 640px;
    padding: 20px;
    margin: auto;
}

button {
    font-family: 'block_bertholdregular', sans-serif;
    color: #cccccc;
    background: none;
    padding: 5px;
    text-align: center;
    width: 100%;
    border: none;
    text-transform: uppercase;
    font-size: 3em;
    cursor: pointer;
    outline: none;
}

button:hover {
    color: #ffffff;
}